<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">転職サービス 新規登録</div>
      <div class="panel-body">
        <%= render 'form', service: @service %>
      </div>
    </div>
  </div>
</div>
<div class="app-return-link"><%= link_to '転職サービス管理画面に戻る', services_path %></div>