@charset "utf-8";

footer {
  border-top: 1px solid #e7e7e7;
  background: #ffefd5;
  padding: 10px 20px;
  margin-top: 40px;
}

footer table td {
  width: 50%;
}

.navbar {
  background: #ffefd5;
}

.app-return-link {
  text-align: center;
}

.jumbotron {
  margin-top: 40px;
  height: 400px;
  background-image: url("/images/topimg.jpg");
  background-size: cover;
  background-position: center 60%;
}

.transparent-mask {
  background: rgba(255,255,255,0.8);
  height: 100%;
}

.toppage-btn {
  margin: 40px 10px 0px 10px;
}

.logo {
  width: 240px;
  height: 60px;
  background: url("/images/logo.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.panel .panel-heading h3 {
  font-size: 18px;
  margin: 5px auto;
}

.table {
  table-layout: fixed;
}

.service-index-table>thead>tr>th,
.enterprise-index-table>thead>tr>th,
.enterprise-new-table>thead>tr>th {
  text-align: center;
}

.service-index-table>tbody>tr>td,
.service-show-table>tbody>tr>td,
.enterprise-index-table>tbody>tr>td,
.enterprise-show-table>tbody>tr>td,
.enterprise-new-table>tbody>tr>td {
  vertical-align: middle;
}

.enterprise-index-table>tbody>tr>td form,
.enterprise-new-table>tbody>tr>td form {
  display: inline;
}

.user-profile .name h1 {
  font-size: 20px; 
}

.user-show-contactlist {
  padding: 5px;
}

.user-show-contactlist,
.user-show-candidate {
  min-height: 40px;
}

.service-newregi-btn, 
.enterprise-newregi-btn{
  margin-bottom: 5px;
}

.service-index-edit-btn {
  margin: 0px 0px 0px 5px;
}

.service-index-delete-btn {
  margin: 0px 15px 0px 5px;
}

.service-show-btn {
  margin-bottom: 5px;
}

.candidate-regist-btn {
  margin-right: 5px;
}

.memo-update-btn {
  margin-top: 5px;
}
