<footer>
  <div class="text-muted">
    <table width="100%">
      <tr>
        <td><div class="text-left">© Yu Kato</div></td>
        <td><div class="text-right">Contact</div></td>
      </tr>
    </table>
  </div>
</footer>